[Unit]
Description=Control modem power state

[Service]
ExecStart=/usr/bin/power-up-modem.sh start
Type=idle
ExecStop=/usr/bin/power-up-modem.sh stop
RemainAfterExit=yes
TimeoutStopSec=10


[Install]
WantedBy=multi-user.target
