[Unit]
Description=Enable wireless devices

[Service]
ExecStart=/usr/sbin/rfkill unblock all && /usr/bin/connmanctl enable cellular
Type=idle

[Install]
WantedBy=multi-user.target
