[Unit]
Description=Enable wireless devices

[Service]
ExecStart=/usr/bin/sh -c '/usr/sbin/rfkill unblock wifi && /usr/sbin/rfkill unblock wwan'
Type=idle

[Install]
WantedBy=multi-user.target
