[Unit]
Description=Hardware manager service

[Service]
ExecStart=/usr/bin/hwmanager
ExecStop=killall -SIGTERM hwmanager

[Install]
WantedBy=multi-user.target
