[Unit]
Description=Button listener service

[Service]
ExecStart=/usr/bin/buttons
ExecStop=killall -9 buttons
Environment=XDG_RUNTIME_DIR=/var/run/wayland

[Install]
WantedBy=multi-user.target
