[Unit]
Description=LED indicator for shutdown

[Service]
Type=oneshot
ExecStop=sh -c 'echo 1 > /sys/class/leds/red:/brightness'
RemainAfterExit=yes


[Install]
WantedBy=multi-user.target
